.Copyright {
  color: #ffffff;
  bottom: 10%;
  font-size: 1vh;
}
.charte {
  font-family: "F37Judge";
  font-style: normal;
  font-weight: 200;
  font-size: 2.6vh;
  line-height: 2vh;
  /* justify-content: center; */

  color: #ffffff;
}
.social {
  position: absolute;
  width: 68px;
  /* height: 24px; */
  /* right: 5%; */

  font-family: "F37Judge";
  font-style: normal;

  bottom: 0px;
  line-height: 1vh;
  color: #ffffff;
}
.divInDown {
  display: flex;
  column-gap: 1.5vh;
  justify-content: center;
}

.linkLogo {
  height: 2vh;
}
