@import "../App.css";

.centerWrite {
    font-family: "F37Judge", system-ui;
    font-style: normal;
    font-size: xxx-large;
    bottom: 5rem;
    margin-bottom: 0;
    color: black;
}

.centerWriteFail {
    font-family: "F37Judge", system-ui;
    font-style: normal;
    font-size: xxx-large;
    bottom: 5rem;
    margin-bottom: 0;
    color: black;
}

.centerWriteConnected {
    font-family: "F37Judge", system-ui;
    font-style: normal;
    font-size: xxx-large;
    bottom: 5rem;
    margin-bottom: 0;
    color: black;
}

.vid {
    position: absolute;
    height: 70%;
    width: 40%;
    right: 1%;
    top: 10%;
    bottom: 25%;
}

.warningRectangle {
    display: flex;
    flex-direction: row;
    background: white;
    color: black;
    border-radius: 10px;
    padding: 2vh;
    size: 10vh;
    filter: drop-shadow(0px 4px 34px rgba(0, 0, 0, 0.25));
    width: 25%;
}

.warningRectangle p {
    font-family: Inter, system-ui;
    margin: 0;
}

.warningRectangleFail {
    display: flex;
    flex-direction: row;
    background: white;
    color: black;
    border-radius: 10px;
    padding: 2vh;
    size: 10vh;
    filter: drop-shadow(0px 4px 34px rgba(0, 0, 0, 0.25));
    width: 25%;
}

.warningRectangleFail p {
    font-family: Inter, system-ui;
    margin: 0;
}

.iconWarningRectangle {
    margin-right: 6%;
}

.warningWrite {
    color: #000;
    font-size: 2vh;
    line-height: 2vh;
}

.centered {
    display: inline-block;
    position: relative;
    top: 12%;
    bottom: 10%;
    width: 100%;
    left: 10%;
}

.smallTalks {
    color: #000;
    font-size: large;
    width: 20%;
}

.mintStuff {
    float: left;
    width: 100%;
}

/* This empty classes exist to satisfy the linter */
.rest {
}

.connect {
}

.maxMint {
    color: #271b3d;
    font-family: "F37Judge", system-ui;
    font-style: normal;
    font-weight: 900;
    font-size: x-large;
}

.prevent {
    color: black;
    font-size: 1.8vh;
    font-family: Inter, system-ui;
}

.plusMinus {
    color: black;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
}

.error {
    font-family: "F37Judge", system-ui;
    color: rgba(247, 0, 0, 0.481);
}

/*0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
/*0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
/*0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
/*0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
/*0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
/*0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
/*0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
/*0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
/*0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
/*0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/

.mPageCenter .vid {
    position: absolute;
    height: 30%;
    width: 95%;
}

.mPageCenter .warningRectangle {
    position: absolute;
    width: 70%;
    top: 15%;
    background: white;
    color: black;
    border-radius: 10px;
    height: 10%;
    filter: drop-shadow(0px 4px 34px rgba(0, 0, 0, 0.25));
}

.mPageCenter .warningRectangleFail {
    position: absolute;
    width: 70%;
    top: 15%;
    background: white;
    color: black;
    border-radius: 10px;
    height: 15%;
    filter: drop-shadow(0px 4px 34px rgba(0, 0, 0, 0.25));
}

.mPageCenter .centered {
    display: inline-block;
    align-items: center;
    top: 35%;
    width: 100%;
    position: relative;
    height: 100%;

}

.mPageCenter .centerWriteFail {
    position: absolute;
    font-family: "F37Judge", system-ui;
    font-style: normal;
    font-size: xx-large;
    top: 5%;
    height: 10%;
    color: black;
    left: 7%;
}

.mPageCenter .centerWrite {
    position: absolute;
    font-family: "F37Judge", system-ui;
    font-style: normal;
    font-size: xx-large;
    top: 5%;
    height: 10%;
    color: black;
    left: 12%;
}

.mPageCenter .centerWriteConnected {
    position: absolute;
    font-family: "F37Judge", system-ui;
    font-style: normal;
    font-size: xx-large;
    top: 5%;
    height: 10%;
    color: black;
    left: 7%;
}

.mPageCenter .warningWrite {
    position: absolute;
    color: black;
    font-size: large;
}

.mPageCenter .rest {
    position: absolute;
    justify-content: center;
    top: 30%;
    height: 100%;
    width: 100%;
    line-height: 0;
}

.mPageCenter .mintStuff {
    position: relative;
    width: 100%;
    left: 25%;
}

.mPageCenter .maxMint {
    color: #271b3d;
    font-family: "F37Judge", system-ui;
    font-style: normal;
    font-weight: 900;
    font-size: x-large;
}

.mPageCenter .prevent {
    line-height: normal;
    color: black;
    margin-right: 12%;
}

.mPageCenter .plusMinus {
    color: black;
    height: 15%;
    font-size: x-large;
    margin-left: 1vw;
    margin-right: 1vw;
}

.mPageCenter .smallTalks {
    position: absolute;
    top: 15%;
    width: 80%;
    align-items: center;
    margin-top: 5%;
}

.mPageCenter .connect {
    position: absolute;
    top: 40%;
    height: 100%;
    width: 400%;
    left: 10%;
}
