@import "../App.css";

.centerWrite {
  font-family: "F37Judge";
  font-style: normal;
  font-size: 4vh;
  bottom: 5rem;
  line-height: 4vh;

  color: #000000;
}
.vid {
  position: absolute;
  height: 70%;
  width: 40%;
  right: 1%;
  top: 10%;
  bottom: 25%;
}
.warningRectangle {
  width: 50%;

  background: #ffffff;
  color: #000;
  border-radius: 10px;
  padding: 2vh;
  size: 10vh;
  box-shadow: 0.3vh 0.3vh 0.3vh 0.3vh grey;
  width: 25%;
}
.warningWrite {
  color: #000;
  font-size: 2vh;
  line-height: 2vh;
}

.centered {
  display: inline-block;
  position: absolute;
  top: 12%;
  bottom: 10%;
  width: 100%;
  left: 10%;
}

.smallTalks {
  color: #000;
  font-size: 2vh;
  line-height: 2vh;
  width: 10%;
}
.mintStuff {
  float: left;
  width: 100%;
}

.maxMint {
  color: #271b3d;
  font-family: "F37Judge";
  font-style: normal;
  font-weight: 900;
  font-size: 2vh;
}
.prevent {
  color: black;
  font-size: 1.8vh;
}

.plusMinus {
  color: #000000;
  height: 1.8vh;
  margin-left: 0.3vw;
  margin-right: 0.3vw;
}
.error {
  font-family: "F37Judge";
  color: rgba(247, 0, 0, 0.481);
}

/*0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
/*0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
/*0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
/*0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
/*0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
/*0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
/*0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
/*0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
/*0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
/*0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/

.mPageCenter .vid {
  position: absolute;
  height: 50%;
  left: 30%;
  top: 3%;
  width: 40%;
}
.mPageCenter .warningRectangle {
  position: absolute;
  width: 50%;

  height: 12%;
  /* left: 20%; */
  top: 15%;
  background: #ffffff;
  color: #000;
  border-radius: 10px;

  height: 10%;
  box-shadow: 0.3vh 0.3vh 0.3vh 0.3vh grey;
}
.mPageCenter .centered {
  /* display: flex; */
  width: 50%;
  position: absolute;

  top: 50%;
  height: 60%;
  left: 30%;
}
.mPageCenter .centerWrite {
  position: absolute;
  width: 100%;
  font-family: "F37Judge";
  font-style: normal;
  font-size: 3vh;
  /* left: 32%; */
  top: 0%;
  justify-content: center;
  line-height: 4vw;

  color: #000000;
}
.mPageCenter .warningRectangle {
  position: absolute;
  width: 100%;
  word-wrap: break-word !important;
  height: 12%;
  padding: 1%;
  /* left: 20%; */
  top: 15%;
  background: #ffffff;
  color: #000;
  border-radius: 10px;

  /* height: rel; */
  box-shadow: 0.3vh 0.3vh 0.3vh 0.3vh grey;
}
.mPageCenter .warningWrite {
  height: 3%;
  position: absolute;
  color: #000;
  font-size: 1vh;
  line-height: 1vh;
}
.mPageCenter br {
  padding: 0;
  margin: 0;
  line-height: 1vw;
}
.mPageCenter .rest {
  position: absolute;
  /* position: absolute; */

  /* height: 60%; */
  justify-content: center;
  top: 30%;

  width: 100%;
}

.mPageCenter .mintStuff {
  position: relative;
  width: 100%;
  justify-content: center;
}

.mPageCenter .maxMint {
  color: #271b3d;
  font-family: "F37Judge";
  font-style: normal;
  font-weight: 900;
  font-size: 25%;
}
.mPageCenter .prevent {
  color: black;
  font-size: 1.3vw;
}

.mPageCenter .plusMinus {
  color: #000000;
  height: 1.8vw;
  margin-left: 0.3vw;
  margin-right: 0.3vw;
}
.mPageCenter .mintNumbers {
}
