@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.downThings {
  vertical-align: bottom;
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
  bottom: 0px;
  justify-content: center;
}
