.App {
  text-align: center;
}

.upbar {
  position: flex;
  height: 10%;
  left: 0px;
  top: 0px;

  /* background: #140035;
  border: 1px solid #ffffff; */
}
.pageCenter {
  position: absolute;
  border: solid 1px;

  top: 10%;
  color: #ffffff;
  width: 100%;
  background-size: 100% 100%;
  background-image: url("./Images/background2.png");
  height: 75%;
}

.downThings {
  vertical-align: bottom;
  position: absolute;
  display: flex;
  height: 15%;
  width: 100%;
  bottom: 0px;

  justify-content: center;
}
