body {
  fill: Solid;
  background: #140035;

  margin: 0;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  transform: rotate(90deg);
  overflow: auto;
}
@font-face {
  font-family: "F37Judge";
  src: local("F37Judge"), url(./Font/F37Judge.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
body {
  background-image: url(./Images/stars.png);
}
